<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs container" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="#">VueBoot</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                        Examples
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="#alert">Alert</a>
                        <a class="dropdown-item" href="#toast">Toast</a>
                        <a class="dropdown-item" href="#modal">Modal</a>
                        <a class="dropdown-item" href="#tabs">Tabs</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#getting_started">Getting Started</a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Morgul/vueboot/"><i class="fa fa-github"></i> GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Morgul/vueboot/issues/new"><i class="fa fa-bug"></i> Report a bug</a>
            </li>
        </ul>
    </div>
</nav>
