<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VueBoot</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="/vueboot/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/vueboot/css/style.css" rel="stylesheet">
        <link href="/vueboot/css/site.css" rel="stylesheet">

        <script src="/vueboot/vendor/jquery/jquery.min.js"></script>
        <script src="/vueboot/vendor/bootstrap/js/bootstrap.min.js"></script>

        <script src="/vueboot/vendor/vue/vue.min.js"></script>
        <script src="/vueboot/dist/vueboot.js"></script>
    </head>
    <body id="example-app">
        {{ content }}
    </body>
</html>
