<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VueBoot</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="{{site.baseurl}}/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">

        <script src="{{site.baseurl}}/vendor/jquery/dist/jquery.min.js"></script>
        <script src="{{site.baseurl}}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="{{site.baseurl}}/vendor/vue/dist/vue.min.js"></script>
        <script src="{{site.baseurl}}/dist/vueboot.js"></script>
    </head>
    <body id="example-app">
        {{ content }}
    </body>
</html>
